.gambar_kendaraan{
    width: 70px;
}

.aktif{
    border-radius: 10px;
    background-color: #b3cd0d;
}

footer{
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 500;
    background-color: rgba(67,94,190,255);
    padding: 8px;
    position: sticky;
    bottom: 0;
}

header{
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgba(67,94,190,255);
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.header-content{
    background-color: #f2f2e2;
    padding: 12px;
}