.gambar_kendaraan{
    width: 70px;
}

footer{
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 500;
    background-image: linear-gradient(to right, rgb(21, 35, 101) , #2485ca);
    padding: 8px;
    position:fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
}

header{
    font-size: 18px;
    color: white;
    font-weight: 500;
    background-image: url('/assets/images/img_tampilan/header.jpg');
    padding: 20px;
    position:sticky;
    z-index: 999;
    top: 0;
    width: 100%;
}

.header-content{
    background-color: #f2f2e2;
    padding: 5px;
}

.TopSide{
    position:fixed;
    z-index: 9999;
}

.gambar{
    width: 80px;
}

.aktiff{
    font-weight: bold;
    font-size: large;
    color: rgb(47, 47, 231);
}

.cardDashboard{
    background-color: #abb7cf;
    color: white;
}

.aktif{
    background-image: linear-gradient(to right, rgb(81, 109, 236) , #91a6cf);
}

.updateProfile{
    padding: 1px;
    border-radius: 5px;
    background-image: url('/assets/images/img_tampilan/form.png');
}

.pinjam-kembali{
    padding: 2px;
    border-radius: 5px;
    background-color: #53abea;
}

.form-kontainer{
    background-color: white;
    border-radius: 2rem;
    font-weight: bold;  
}

.qr-codeHeader{
    background-color: #53abea;
}

.delete{
    background-color: #fb0000;
}

.edit{
    background-color: #e8c826;
}

.tambah{
    background-color: #30bb5c;
}

.biru{
    background-color: #32cac0;
}

.History_bg{
    background-image: url('/assets/images/img_tampilan/form.png');
}

.password-container {
    position:relative;
}
  
#togglePassword_edit_profile1, #togglePassword_edit_profile2, #togglePassword_edit_profile3,
#togglePassword, #togglekonfirpass {
    border-radius: 15%;
    background: gray;
    cursor: pointer;
    font-size: 1.4rem;
}

.bagian_logo{
    background-color: #abb7cf;
}

aside{
    float: right;
    width: 20%;
    padding-left: 20px;
}

.card_side{
    background-color: #d3d3d3;
    border-radius: 10px;
}
