.gambar_kendaraan{
    width: 70px;
}

footer{
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 500;
    background-color: rgba(67,94,190,255);
    padding: 8px;
    position:fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
}

header{
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgba(67,94,190,255);
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    position:sticky;
    z-index: 999;
    top: 0;
    width: 100%;
}

.header-content{
    background-color: #f2f2e2;
    padding: 5px;
}

.TopSide{
    position:fixed;
    z-index: 9999;
}

.gambar{
    width: 80px;
}

.aktif{
    background-color: #f1d9dc;
}

.aktiff{
    font-weight: bold;
    font-size: large;
    color: blue;
}

.cardDashboard{
    background-color: #fdfdef;
}

.form-kontainer{
    background-color: white;
    border-radius: 2rem;
    font-weight: bold;  
}

.profile{
    padding: 3px;
    border-radius: 5px;
    color: white;
    background-color: rgb(72,92,188);
}

.updateProfile{
    padding: 1px;
    border-radius: 5px;
    background-color: #edf0b3;
}

.qr-codeHeader{
    background-color: #4ca1de;
}

.delete{
    background-color: #8a0b0b;
}

.edit{
    background-color: #e6c41a;
}

.tambah{
    background-color: #3f8354;
}